<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="static/admin.js"></script>
    <title>{{ title }}</title>
    <meta name = "viewport" content = "width = device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<header>
    <h1>Defusal Station</h1>
</header>

<div id="wrapper">
    <main>
        <div id="content">
            <h1 class="page_name">Admin Console</h1>
            <pre class="boxed" id="console" style="overflow-y:scroll"></pre>
            {% for label, command in commands.items() %}
                <button class="command" value="{{ command }}">
                    {{ label }}
                </button>
            {% endfor %}
            <br>
            <br>
            <form action='/send_command' method="Post" id="command_form">
                <input type="radio" name="arduino" value="debug" checked="checked">Debug &nbsp;
                <select name="debug_command" id="debug_command">
                    {% for label, command in debug_commands.items() %}
                        <option value="{{ command }}">{{ command }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="radio" name="arduino" value="puzzle_kit">Puzzle Kit
                <select name="puzzle_kit_command" id="puzzle_kit_command">
                    {% for label, command in puzzle_kit_commands.items() %}
                        <option value="{{ command }}">{{ command }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="radio" name="arduino" value="lid_kit">Lid Kit&nbsp;&nbsp;&nbsp;
                <select name="lid_kit_command" id="lid_kit_command">
                    {% for label, command in lid_kit_commands.items() %}
                        <option value="{{ command }}" name="{{ command }}">{{ command }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="radio" name="arduino" value="led_kit">LED Kit&nbsp;&nbsp;&nbsp;
                <select name="led_kit_command" id="led_kit_command">
                    {% for label, command in led_kit_commands.items() %}
                        <option value="{{ command }}">{{ command }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="submit" value="Send Command">
            </form>

        </div>
    </main>

</div>

<footer>
    <p>OpenWest 2017</p>
</footer>

</body>
</html>
