<html>
  <head>
    <title>{{ title }}</'title>
    <link src="style.css">
    <script src="../static/jquery.min.js"></script>
    <script>
      $.ajaxSetup({ cache: false });
      function updateTimer() {
        $.get('/update-timer-value/', function(data) {
          $('.timer').html(data);
        });
        setTimeout(updateTimer, 5000);
      }

      setTimeout(updateTimer, 5000);
      function updateAttempts() {
        $.get('/attempts/', function(data) {
          $('.attempts').html(data);
        });
        setTimeout(updateAttempts, 20000);
      }
      setTimeout(updateAttempts, 20000);

      function updateTopScores() {
        $.get('../static/top_scores.html', function(data) {
          $('.top_scores').html(data);
        });
        setTimeout(updateTopScores, 20000);
      }
      setTimeout(updateTopScores, 20000);
    </script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <style>
      h1 {
        color: {{ textColor }} !important;
        text-align: center !important;
        font-size: 10em; !important;
      }

      .rules {
        text-align: left;
      }

      .timer {
        padding-top: 100px;
      }
      .top-scores {
        padding: 20px;
        margin: 20px;
        border: 5px;
        text-align: center;
        border-style: solid;
      }
      li {
          font-size: 72px;
      } 
    </style>
  </head>

  <body>
    <div class="timer">
      <h1> {{ timer }} </h1>
    </div>
    <div class="rules">
      <h2>Rules</h2>
      <ol>
        <li>
          Each attempt cannot last longer than 10 minutes.
        </li>
        <li>
          Do not remove or damage any sensors, wires, or parts from the box.
          If you are uncertain about whether or not a part was meant to be
          tampered with, ask the proctor.
        </li>
        <li>
          If you fail, you must step away from the box immediatly
        </li>
	<li>
	  If you win come talk to use and we will give you a code
	</li>
      </ol>
    </div>
    <div class="top-scores">
      <h2>Number of Attempts: <span class="attempts"> {{ attempts }} </span></h2>
      <h2>Top Scores</h2>
      <p class="top_scores">{% for score in scores %}
          {{ score[0] }}: {{ score[1] }}<br>
         {% endfor %}</p>
    </div>
  </body>

</html>
