<!DOCTYPE html>
<html>
<head>

    <!--Bootstrap Libraries-->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-reboot.css">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Admin</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="homeButtonAdmin">
        <span>
            <img src="../static/Theseus2.png">
        </span>
    <a class="navbar-brand" href="/">Project Theseus</a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-nav mr-auto ">
            <span class="nav-item active adminButtonAdmin">
                <a class="nav-link" href="/admin/">Admin<span class="sr-only">(current)</span></a>
            </span>
        </span>
        <span class="navbar-nav mr-auto ">
            <span class="nav-item active adminButtonAdmin">
                <a class="nav-link" href="/credits">Credits<span class="sr-only">(current)</span></a>
            </span>
        </span>
        <span class="sponsor">
            <span>
                <img src="../static/OpenWest.png">
            </span>
            <p class="navbar-brand">OpenWest</p>
        </span>
        <span class="sponsor">
            <span>
                <img src="../static/LinuxClub.png">
            </span>
            <p class="navbar-brand">BYU Linux Club</p>
        </span>
    </div>
</nav>

<div class="card text-center bg-dark border-danger text-danger cardAdmin">
    <div class="card-body">
        <h5 class="card-title">Admin</h5>
        <p>This control panel is for Project Theseus developers and moderators. If you are not part of this group then buzz off!
            Below are the controls for each facet of the puzzle this year. Each trap's controls can be modified here in the control panel.
            To arm the box and start the challenge click on the button below:</p>
        <div id="timer-start-reset">
            <button class="btn btn-outline-success" id="startGame">Start Game</button>
        </div>
    </div>
</div>

<div class="cardContainer">
    <div class="card-group">
        <div class="card text-primary bg-dark border-primary">
            <div class="card-body">
                <h5 class="card-title text-primary">Code</h5>
                <p>To solve the puzzle, a 3-digit hexcode must be entered into the keypad. To set the code, use the input below:</p>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-primary bg-dark text-primary">0x</span>
                    </div>
                    <input type="text" class="form-control bg-dark text-primary border-primary" maxlength="3" size="3" id="keypad-code">
                </div>
            </div>
        </div>
        <div class="card text-white bg-dark border-primary">
            <div class="card-body text-primary">
                <h5 class="card-title">Laser Tripwires</h5>
                <p>Below are some controls to monitor which lasers are in use and to randomize their pattern.</p>
                <br>
                <button class="btn btn-outline-primary" name="tripwire-all" id="tripwire-all">All</button>
                <button name="1" class="tripwire btn btn-outline-warning" id="tripwire-1">1</button>
                <button name="2" class="tripwire btn btn-outline-warning" id="tripwire-2">2</button>
                <button name="3" class="tripwire btn btn-outline-warning" id="tripwire-3">3</button>
                <button name="4" class="tripwire btn btn-outline-warning" id="tripwire-4">4</button>
                <button name="5" class="tripwire btn btn-outline-warning" id="tripwire-5">5</button>
                <button name="6" class="tripwire btn btn-outline-warning" id="tripwire-6">6</button>

                <button class="btn btn-outline-primary" id="tripwire-randomize">Random</button>
            </div>
        </div>
        <div class="card text-primary bg-dark border-primary">
            <div class="card-body">
                <h5 class="card-title text-primary">RGB</h5>
                <p>This light indicates which wire will need to be pulled once the user gains access to the last compartment.</p>
                <br>
                <div class="input-group mb-3">
                    <select class="custom-select" title="RGB" id="rgb-select">
                        <!--<option selected>Choose...</option>-->
                        <option value="black">Blank</option>
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="blue">Blue</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group" style="margin-top: -1px">
        <div class="card text-primary bg-dark border-primary">
            <div class="card-body">
                <h5 class="card-title text-primary">Solenoid</h5>
                <p>This locks or unlocks the last section of the box:</p>
                <br>
                <p> <span id="solenoid-toggle"><button class="btn btn-outline-success" >Closed</button></span></p>
            </div>
        </div>
        <div class="card text-primary bg-dark border-primary">
            <div class="card-body">
                <h5 class="card-title text-primary">Team Name</h5>
                <p>The name of the team currently making an attempt to solve the box:</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-success bg-dark text-success" id="">Team:</span>
                    </div>
                    <input type="text" class="form-control border-success bg-dark text-success highScoreInput" id="addTeam" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>
        <div class="card text-primary bg-dark border-primary">
            <div class="card-body">
                <h5 class="card-title text-primary">Utrasonic Sensor</h5>
                <p>This detects whether the lid of the box is open or not:</p>
                <br>
                <p> <span id="ultrasonic-enable"><button class="btn btn-outline-success" >Enabled</button></span></p>
            </div>
        </div>
    </div>
</div>

<!--JavaScript local libraries-->
<script src="../static/javascript/jquery.min.js"></script>
<script src="../static/javascript/bootstrap.bundle.js"></script>
<script src="../static/javascript/bootstrap.js"></script>
<script src="../static/javascript/admin.js"></script>

</body>


</html>
