<!DOCTYPE html>
<html lang="en">
<head>
    <!--Bootstrap Libraries-->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-reboot.css">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--TODO: Have a navbar that switches between all the pages and a nice front page, and use the timer as the index-->
    <meta charset="UTF-8">
    <title>Project Theseus</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="homeButton">
        <span>
            <img src="../static/Theseus2.png">
        </span>
    <a class="navbar-brand" href="">Project Theseus</a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-nav mr-auto ">
            <span class="nav-item active adminButton">
                <a class="nav-link" href="/admin/">Admin<span class="sr-only">(current)</span></a>
            </span>
        </span>
        <span class="navbar-nav mr-auto ">
            <span class="nav-item active adminButtonAdmin">
                <a class="nav-link" href="/credits">Credits<span class="sr-only">(current)</span></a>
            </span>
        </span>
        <span class="sponsor">
            <span>
                <img src="../static/OpenWest.png">
            </span>
            <p class="navbar-brand">OpenWest</p>
        </span>
        <span class="sponsor">
            <span>
                <img src="../static/LinuxClub.png">
            </span>
            <p class="navbar-brand">BYU Linux Club</p>
        </span>
    </div>
</nav>

<pre>
    Producer:
        Victor Villa

    Original Box/puzzle Design:
        Clayton Ramstedt
        Marshall Garey
        Tyler Johnson

    Software Design:
        Bryce Larson
        Chuck Tolley
        Corban Villa
        Chris Kitras
        Graig Henrie
        Matthew Gwilliam
        Ruth Evans

    Hardware Design:
        Austin Phillips
        Broderick Gardener
        Kristian Sims
        Michael (compukidmike)
        Scheridan Vorwaller

    Organizations:
        3D printing business
        BYU Linux Club
        ProVolt
        Utah Open Source

    Source:
        https://githiub.com/jtylers/project_theseus
</pre>

</body>

</html>
