<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Admin</title>
  </head>
  <body>
    <h1> Admin </h1>
    <h2>Code</h2>
    <p> 0x <input type="text" id="keypad-code"></p>
    <h2>Laser Tripwires</h2>
    <p> <button id="tripwire-all-enable">all</button> <button id="tripwire-1-enable">1</button>
      <button id="tripwire-2-enable">2</button> <button id="tripwire-3-enable">3</button>
      <button id="tripwire-4-enable">4</button> <button id="tripwire-5-enable">5</button>
      <button id="tripwire-6-enable">6</button> </p>
    <p> <button id="tripwire-randomize">randomize</button> </p>
    <h2>RGB</h2>
    <select title="RGB">
      <option value="rgb-red">Red</option>
      <option value="rgb-green">Green</option>
      <option value="rgb-blue">Blue</option>
      <option value="rgb-blank">Blank</option>
    </select>
    <h2>Solenoid</h2>
    <p> <button id="solenoid-toggle">Closed</button></p>
    <h2>Timer</h2>
    <p> <button id="timer-start-reset">Start</button></p>
    <h2> Ultrasonic Sensor </h2>
    <p> <button id="ultrasonic-enable">Enabled</button></p>
  </body>
  <script src='/static/javascript/admin.js'></script>
</html>
