<!DOCTYPE html>
<html lang="en">
<head>
    <!--Bootstrap Libraries-->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-reboot.css">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--TODO: Have a navbar that switches between all the pages and a nice front page, and use the timer as the index-->
    <meta charset="UTF-8">
    <title>Project Theseus</title>
</head>
<body>
<!--JavaScript local libraries-->
<script src="../static/javascript/jquery.min.js"></script>
<script src="../static/javascript/bootstrap.bundle.js"></script>
<script src="../static/javascript/bootstrap.js"></script>
<script src="../static/javascript/index.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="homeButton">
        <span>
            <img src="../static/Theseus2.png">
        </span>
    <a class="navbar-brand" href="">Project Theseus</a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-nav mr-auto ">
            <span class="nav-item active adminButton">
                <a class="nav-link" href="/admin/">Admin<span class="sr-only">(current)</span></a>
            </span>
        </span>
        <span class="sponsor">
            <span>
                <img src="../static/OpenWest.png">
            </span>
            <p class="navbar-brand">OpenWest</p>
        </span>
        <span class="sponsor">
            <span>
                <img src="../static/LinuxClub.png">
            </span>
            <p class="navbar-brand">BYU Linux Club</p>
        </span>
    </div>
</nav>

<div class="timer" id="timerText">
    <p>
        --:--
    </p>
</div>
<div class="stats">
    <div class="container">
        <div class="row">
            <div class="col-sm" id="attempts">
                <p class="info">Attempts: <span class="info-num">---</span></p>
            </div>
            <div class="col-sm">
                <p class="percentage" id="percentID">---%</p>
            </div>
            <div class="col-sm" id="successes">
                <p class="info">Successes: <span class="info-succ">--</span></p>
            </div>
        </div>
    </div>
</div>
<div class="scoreboard">
    <table class="table table-striped table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" class="col-1">Ranking</th>
            <th scope="col" class="col-7">Name</th>
            <th scope="col" class="col-2">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td id="name1">---</td>
            <td>--:--</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td id="name2">---</td>
            <td>--:--</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td id="name3">---</td>
            <td>--:--</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td id="name4">---</td>
            <td>--:--</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td id="name5">---</td>
            <td>--:--</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>