body {
    background-color: black;
}

@font-face {
    font-family: "My Custom Font";
    src: url("../Share-TechMono.ttf") format("truetype");
}


#name1{color: #49b5ff;}
#name2{color: #ff674f;}
#name3{color: white;}
#name4{color: #f6ff66;}
#name5{color: #5bff82;}

a{outline: none;}
a:active{outline: none;}
.homeButton{background-color: #181c1d;}
.homeButton:hover, .adminButton:hover, .homeButtonAdmin:hover, .adminButtonAdmin:hover{background-color: #7d9293;}
.homeButtonAdmin{background-color: transparent;}
.adminButtonAdmin{background-color: #181c1d;}
.sponsor {margin-bottom: -.75rem;}

.timer{
    padding-top: 2rem;
}

.timer p{
    color: white;
    text-align: center;
    font-family: "Share TechMono", monospace ;
    font-size: 15rem;
}

.info{
    padding-top: 1rem;
    text-align: center;
    color: white;
    font-family: "Share TechMono", monospace;
    font-size: 1.5rem;
}

.percentage{
    text-align: center;
    color: white;
    font-family: "Share TechMono", monospace;
    font-size: 3rem;
    font-weight: bold;
}

.info-num{
    color: #4146ff;
    font-size: 2rem;
}

.info-succ{
    color: lime;
    font-size: 2rem;
}

.navbar-text{
    color: yellow !important;
}

.navbar{
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link{
    padding-top: .8rem;
    padding-bottom: .8rem;
}



.scoreboard{
    position: absolute;
    bottom: 1px;
    width: 100%;
    color: white;
}

.scoreboard h3{
    font-family: "Share TechMono", monospace;
    text-align: center;
}

.cardContainer{
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 3rem;

}

.cardSuccess{
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 5rem;
}

.cardAdmin{
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
}
